
    </div>
    <div class="footer-padding">
      <div class="footer">
        
      </div>
      
    </div>

    <div class="socials">
      <p>&copy; JustFIDEL 2023</p>
      <a href="http://" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="http://" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="http://" target="_blank"><i class="fa-brands fa-square-github"></i></a>
      <a href="http://" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</body>
</html>
